.header {
    text-align: center;
    color: orange;
}

.btn1 {
    width: 78px;
    margin-top: 10px;
    color: cornflowerblue;
}

.ddb1{ 
    width: 350px;
    color: #333;
}

.input1 {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card1 {
    margin: 10px 10px 10px 10px;
}

body {
    overflow-x: hidden;
  }

.nav-link {
    margin-left: 2px;
  }
 
/* Sidebar */
/* https://stackoverflow.com/questions/55392776/hide-sidebar-on-medium-and-small-screen-devices */
#sidebar {
    -webkit-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    padding: 15px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;

}

.navbar-nav {
    background-color: #dfdfdd,
}

#content {
    -webkit-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    /* margin-left: 18rem; */
    margin-left: 250px;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

@media (max-width: 992px) {
    #sidebar {
        margin-left: -251px;
    }
    #content {
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 2rem 1rem;
    }
    /* welcome top-nav */
    #top-nav {
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: #696d71;
    }
}

@media (min-width: 992px) {
    #content {
        margin-left: 250px; 
    }
    /* hide top-nav */
    #top-nav {
        margin-top: -150px;
    }
}

HTML CSS JSResult Skip Results Iframe
EDIT ON
body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 0 20px;
}

main {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

p {
  text-align: left;
  padding: 0 20px;
}

code {
  color: firebrick;
}

/* .darkToggle {
    appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
  }
  
.darkToggle:checked {
background: #333;
} */
  

.dark {
  color: rgba(255, 255, 255, 0.882);
  background: #141414;
}

